<!DOCTYPE html>
<html>
<head>
    <title>Lista de Categorías</title>
</head>
<body>
    <h1>Lista de Categorías</h1>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.nombre }} - {{ categoria.descripcion }}</li>
        {% endfor %}
    </ul>

    <h2>Agregar Nueva Categoría</h2>
    <form method="post" action="{% url 'lista_categorias' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar Categoría</button>
    </form>
</body>
</html>